@import url("./variable.css");

/* duplicata */
/* circle */
.circle {
  border-radius: 50%;
  width: 53px !important;
  height: 55px;
  padding: 0px;
  background: var(--orange);
  border: 3px solid var(--orange);
  color: var(--white);
  text-align: center;
  margin: 5px;
  font-size: 30px;
  font-family: tomarikDisplay;
}
.circle_text {
  color: var(--primary);
  margin: 18px 0px 0px 5px;
  font-size: 25px;
  font-weight: bold;
}
.circle_content {
  margin: 30px;
}

.container_card {
  padding-bottom: 40px;
}

/* duplicata */
/* context */
.list_context {
  border-radius: 8px;
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin: 1px 1px 10px 15px;
  padding: 5px;
}

.check[type="radio"]:checked + label + div {
  background-color: var(--primary);
  color: var(--white);
}

.label_title {
  font-size: 25px;
  margin: 5px 0px 10px 10px;
  color: var(--secondary);
  font-weight: bold;
}
