.card {
  margin: 20px 0;
  position: relative;
}

.card_title {
  text-align: center;
  padding: 5px;
}
.label_checkbox {
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  border: 1px solid grey;
  font-family:  "Helvetica Neue", sans-serif;
  color: var(--dark-blue);
  font-size: 18px;
  word-break: break-all;
  hyphens: auto;
  overflow-x: hidden;
}

.label_checkbox:hover {
  background-color: var(--blue);
  color: white;
  transition: 0.3s;
}

.label_checkbox.checked {
  color: white;
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
}

.checkboxes:hover {
  color: var(--dark-blue)
}

.guidance_group_title {
  font-family: "Helvetica Neue", sans-serif;
  color: var(--dark-blue);
  font-size: 16px;
  transition: 0.3s;
}

.guidance_group_title:hover {
  color: var(--blue);
}
