/*
* RESEARCH OUTPUTS TABS
*/


.add_research_output_button {
  width: 100%;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 0 0 0 20px;
}

.add_research_output_button:hover {
  background-color: var(--dark-blue);
  color: white;
}

.nav_icon {
  display: flex;
  justify-content: center;
}

.nav_icon .space_right {
  margin-right: 10px;
}

.nav_title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  align-items: center;
}
