@import url("./variable.css");

.context_list {
  border-radius: 8px;
  border: solid;
  border-color: grey;
  border-width: 1px;
  margin: 1px 1px 10px 10px;
  padding: 5px;
}

.checked {
  background-color: var(--dark-blue);
  color: var(--white);
}

.check[type="radio"]:checked + label + div {
  background-color: var(--dark-blue);
  color: var(--white);
}

.title {
  font-size: 25px;
  margin: 5px 0px 10px 0;
  color: var(--blue);
  font-weight: bold;
}

.subtitle {
  color: grey;
}
